@import url("https://fonts.googleapis.com/css?family=Roboto|Vidaloka&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.main-heading {
  font-family: "Vidaloka", serif;
  text-align: center;
  font-size: 4rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
}

.sub-heading {
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
}

.heading {
  font-family: "Vidaloka", serif;
}

.navbar,
button,
#skills h3 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.strength p,
.event-subheading {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
}

#skills h3,
.event-subheading {
  color: #77ccdf;
}

h2 {
  font-size: 3rem;
}

h4.heading {
  font-size: 2rem;
}

.text-shadow {
  text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
}

.quote {
  font-family: "Vidaloka", serif;
  color: #438796;
  font-style: italic;
}

#strengths h4 {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
  font-size: 2.5rem;
}

.timeline p {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

a {
  color: #77ccdf;
  -webkit-transition: 0.2s all ease-in-out 0.3s;
  transition: 0.2s all ease-in-out 0.3s;
}

a:hover {
  color: #438796;
  text-decoration: none;
}

#download-cv-button {
  margin-left: 0.5rem;
  color: #77ccdf;
  border-color: #77ccdf;
  -webkit-transition: 0.2s all ease-in-out 0.3s;
  transition: 0.2s all ease-in-out 0.3s;
}

#download-cv-button:hover {
  color: #fff;
  border-color: #fff;
  background-color: #77ccdf;
}

#logo {
  height: 50px;
}

.frameworks-icon {
  height: 75px;
}

.languages-icon {
  height: 50px;
  margin-top: 1.6rem;
}

.tool-icon {
  height: 65px;
}

.frameworks-icon,
.languages-icon,
.tool-icon {
  margin-bottom: 0.5rem;
}

.btn-sm {
  border-radius: 0;
}

.progress {
  width: 125px;
  height: 125px;
  background: none;
  position: relative;
  margin-bottom: 0.7rem;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.border-circle {
  border-color: #77ccdf;
}

ul {
  list-style-type: none;
}

.fa-check-circle {
  font-size: 1.5rem;
  color: #77ccdf;
  margin-right: 0.75rem;
  margin-top: 0.25rem;
}

td {
  padding-bottom: 1rem;
}

.fa-quote-right,
.fa-quote-left {
  font-size: 1.5rem;
  color: #77ccdf;
}

.fa-quote-right {
  padding-left: 0.75rem;
}

.fa-quote-left {
  padding-right: 0.75rem;
}

i {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
}

.cta-btn {
  background-color: transparent;
  height: 50px;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0 1.5rem;
  -webkit-transition: 0.2s all ease-in-out 0.3s;
  transition: 0.2s all ease-in-out 0.3s;
}

.cta-btn.dark-btn {
  border: 1px solid #fff;
  color: #77ccdf;
}

.cta-btn.dark-btn:hover,
.cta-btn.light-btn:hover {
  background-color: #5eacbea6;
  color: #fff;
}

.timeline .cta-btn.dark-btn {
  height: 35px;
  width: 142px;
  font-size: 0.8rem;
  margin: 0;
}

.container,
.container-fluid,
.row {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.full-height {
  min-height: 100vh;
  padding: 3rem 0;
}

.vertical-center-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

#skills {
  text-align: center;
  background-color: #000;
  color: #fff;
}

.languages,
.frameworks-box,
.tools-box {
  display: inline-block;
  margin: 1rem;
}

.skill-container {
  display: inline-block;
}

.skill-set {
  padding: 1rem;
}

.profile-text-box,
#portrait {
  padding: 1.5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#strengths {
  background-color: #000;
}

.strengths-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.strength {
  text-align: center;
  width: 160px;
  padding: 0.75rem;
  display: inline-block;
}

.strength i {
  color: #77ccdf;
  display: block;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.project-box {
  margin: 1.5rem;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #fff;
  border-radius: 5px;
}

.project-box-overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-box p {
  padding-top: 2rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.project-box h4 {
  font-family: "Vidaloka", serif;
}

.hero-img {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#home {
  background-image: url("../images/backgrounds/desk.jpg");
  background-position: center 60%;
}

#profile {
  text-align: center;
  background-image: url("../images/backgrounds/notepad.jpg");
}

#portfolio {
  background-image: url("../images/backgrounds/table.png");
  background-position: 25% 100%;
}

#project1 {
  background-image: url("https://annagilhespy.com/wp-content/uploads/2019/02/about3.jpg");
  background-position: 100% center;
}

#project2 {
  background-image: url("https://i.ibb.co/y8bx9BL/kidswim.jpg");
  background-position: center;
}

#project3 {
  background-image: url("https://images.slideplayer.com/26/8705799/slides/slide_2.jpg");
  background-position: center;
}

#project4 {
  background-image: url("https://i.ibb.co/4VFzmpG/playing.png");
  background-position: center;
}

.light-overlay {
  background-color: rgba(255, 255, 255, 0.85);
}

#portrait {
  max-width: 100%;
  max-height: 80vh;
}

.profile-list {
  padding: 1.5rem;
  max-width: 100%;
}

.profile-list p {
  margin-bottom: 1.75rem;
}

#work-history {
  background-color: #000;
  color: #fff;
}

#timeline-content {
  margin-top: 50px;
  text-align: center;
}

.timeline {
  border-left: 4px solid #77ccdf;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: fade(#fff, 3%);
  color: fade(fff, 80%);
  font-family: "Roboto", sans-serif;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 100%;
  padding-right: 0;
}

.timeline h3 {
  font-family: "Vidaloka", serif;
  font-weight: 400;
  font-size: 1.4em;
}

.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -160px;
  color: rgba(255, 255, 255, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.8em;
  min-width: 90px;
}

.timeline .event:after {
  -webkit-box-shadow: 0 0 0 4px #77ccdf;
  box-shadow: 0 0 0 4px #77ccdf;
  left: -57.85px;
  background: #000;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

#insiteful li,
#thom li {
  list-style: square;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .main-heading {
    text-align: left;
    margin-left: 5rem;
    font-size: 5rem;
  }
  .sub-heading {
    text-align: left;
    margin-left: 5rem;
  }
  /* Portfolio boxes */
  .project-box-overlay {
    opacity: 0;
    -webkit-transition: 0.2s all ease-in-out 0.3s;
    transition: 0.2s all ease-in-out 0.3s;
  }
  .project-box-overlay:hover {
    opacity: 1;
  }
  .project-box-overlay button {
    height: 40px;
  }
  .project-box p {
    padding-top: 3.5rem;
  }
  .event p,
  .event button {
    display: inline-block;
  }
  .timeline .cta-btn.dark-btn {
    float: right;
    margin-top: -2.5rem;
  }
}
/*# sourceMappingURL=main.css.map */