@import url("https://fonts.googleapis.com/css?family=Roboto|Vidaloka&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.main-heading {
  font-family: "Vidaloka", serif;
  text-align: center;
  font-size: 4rem;
}

.sub-heading {
  text-align: center;
}

.heading {
  font-family: "Vidaloka", serif;
}

.navbar,
button,
#skills h3,
.strength p {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

#skills h3 {
  color: #77ccdf;
}

h2 {
  font-size: 3rem;
}

h4.heading {
  font-size: 2rem;
}

#download-cv-button {
  margin-left: 0.5rem;
  color: #77ccdf;
  border-color: #77ccdf;
  -webkit-transition: 0.2s all ease-in-out 0.3s;
  transition: 0.2s all ease-in-out 0.3s;
}

#download-cv-button:hover {
  color: #fff;
  border-color: #fff;
  background-color: #77ccdf;
}

#logo {
  height: 50px;
}

.frameworks-icon {
  height: 75px;
}

.languages-icon {
  height: 50px;
  margin-top: 1.6rem;
}

.tool-icon {
  height: 65px;
}

.frameworks-icon,
.languages-icon,
.tool-icon {
  margin-bottom: 0.5rem;
}

.btn-sm {
  border-radius: 0;
}

.progress {
  width: 125px;
  height: 125px;
  background: none;
  position: relative;
  margin-bottom: 0.7rem;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.border-circle {
  border-color: #77ccdf;
}

ul {
  list-style-type: none;
}

.fa-check-circle {
  font-size: 1.5rem;
  color: #77ccdf;
  margin-right: 0.75rem;
  margin-top: 0.25rem;
}

td {
  padding-bottom: 1rem;
}

.fa-quote-right,
.fa-quote-left {
  font-size: 1.5rem;
  color: #77ccdf;
}

.container,
.container-fluid,
.row {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.full-height {
  min-height: 100vh;
  padding: 3rem 0;
}

.vertical-center-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

#skills {
  text-align: center;
  background-color: #000;
  color: #fff;
}

.languages,
.frameworks-box,
.tools-box {
  display: inline-block;
  margin: 1rem;
}

.skill-container {
  display: inline-block;
}

.skill-set {
  padding: 1rem;
}

#profile {
  text-align: center;
}

.strength {
  text-align: center;
  width: 200px;
  padding: 0.75rem;
  display: inline-block;
}

.strength i {
  color: #77ccdf;
  display: block;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.hero-img {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#home {
  background-image: url("../images/backgrounds/desk.jpg");
  background-position: center 60%;
}

#portrait,
.profile-list {
  padding: 1.5rem;
  max-width: 100%;
  max-height: 80vh;
}

.profile-list p {
  margin-bottom: 1.75rem;
}

@media screen and (min-width: 768px) {
  .main-heading {
    text-align: left;
    margin-left: 5rem;
    font-size: 5rem;
  }
  .sub-heading {
    text-align: left;
    margin-left: 5rem;
  }
}
/*# sourceMappingURL=main.css.map */