// containers and sections

.container,
.container-fluid,
.row {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.full-height {
    min-height: 100vh;
    padding: 3rem 0;
}

.vertical-center-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hero-overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

// skills

#skills {
    text-align: center;
    background-color: #000;
    color: #fff;
}

.languages,
.frameworks-box,
.tools-box {
    display: inline-block;
    margin: 1rem;
}

.skill-container {
    display: inline-block;
}

.skill-set {
    padding: 1rem;
}

// Background images

.hero-img {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

#home {
    background-image: url('../images/backgrounds/desk.jpg');
    background-position: center 60%;
}