// Tablets and larger
@media screen and (min-width: 768px) {
    .main-heading {
        text-align: left;
        margin-left: 5rem;
        font-size: 5rem;
    }

    .sub-heading {
        text-align: left;
        margin-left: 5rem;
    }

    /* Portfolio boxes */
    .project-box-overlay {
        opacity: 0;
        -webkit-transition: 0.2s all ease-in-out 0.3s;
        transition: 0.2s all ease-in-out 0.3s;
    }

    .project-box-overlay:hover {
        opacity: 1;
    }

    .project-box-overlay button {
        height: 40px;
    }
}