// Tablets and larger
@media screen and (min-width: 768px) {
    .main-heading {
        text-align: left;
        margin-left: 5rem;
        font-size: 5rem;
    }
    .sub-heading {
        text-align: left;
        margin-left: 5rem;
    }
    /* Portfolio boxes */
    .project-box-overlay button {
        height: 40px;
    }
    .event p,
    .event button {
        display: inline-block;
    }
    .timeline .cta-btn.dark-btn {
        float: right;
        margin-top: -2.5rem;
    }
}

/* css for when user is on a touch screen,
and therefore the hover effects on portfolio boxes would not work
Shows buttons to click on images by default */
@media (hover: none) { 
    .project-box-overlay {
        opacity: 1;
    }
}

/* hides portfolio overlay on devices that can hover */
@media (hover: hover) { 
    .project-box-overlay {
        opacity: 0;
        -webkit-transition: 0.2s all ease-in-out 0.3s;
        transition: 0.2s all ease-in-out 0.3s;
    }
    .project-box-overlay:hover {
        opacity: 1;
    }
}