body {
    font-family: $main-text;
}

.main-heading {
    font-family: $heading;
    text-align: center;
    font-size: 4rem;
}

.sub-heading {
    text-align: center;
}

.navbar,
button {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}
