#download-cv-button {
    margin-left: 0.5rem;
    color: $color1;
    border-color: $color1;
    -webkit-transition: 0.2s all ease-in-out 0.3s;
    transition: 0.2s all ease-in-out 0.3s;
}

#download-cv-button:hover {
    color: #fff;
    border-color: #fff;
    background-color: $color1;
}

#logo {
    height: 50px;
}

