#download-cv-button {
    margin-left: 2rem;
    background-color: $color1;
    border-color: #fff;
    color: #fff;
}

#download-cv-button:hover {
    margin-left: 2rem;
    color: $color1;
    border-color: $color1;
    background-color: #fff;
}

#logo {
    height: 50px;
}
