@import url('https://fonts.googleapis.com/css?family=Roboto|Vidaloka&display=swap');

// fonts
$main-text: 'Roboto', sans-serif;
$heading: 'Vidaloka', serif;

// colours
$color1: #77ccdf;
$color1-transparent: #5eacbea6;
$color1-darker: #438796;

// shadows

$text-shadow: 1px 1px rgba(0, 0, 0, 0.35);